appdirs==1.4.4
asyncio==3.4.3
autopep8==1.5.4
click==7.1.2
Flask==1.1.2
importlib-metadata==2.1.1
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pycodestyle==2.6.0
pyee==8.1.0
pyppeteer==0.2.5
toml==0.10.2
tqdm==4.56.0
urllib3==1.26.2
websockets==8.1
Werkzeug==1.0.1
zipp==3.4.0
